
*.mat
examples/fig/
examples/magspring/fig/
*/*/fig/*
*/fig/*
fig/*

/examples/data/

*.aux

*.bbl

*.bcf

*.blg

*.synctex

*.toc

matlab/magcode-matlab.run.xml

*.out

*.log

matlab/magcode-matlab-blx.bib

matlab/CoverageResults\.xml

matlab/coverage\.xml

matlab/coverage-debug\.xml

*.gz
